<html>

<head>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bar {
            fill: steelblue;
        }

        .bar:hover {
            fill: brown;
        }

        .axis--x path {
            display: none;
        }
    </style>
</head>

<body ng-app="app" ng-controller="mainController as vm">
    <form class="form-inline offset-md-3">
        Top
        <input class="form-control" id="top1" type="number" value="5" data-ng-model="vm.top1" data-ng-change="vm.beginDraw('main1', vm.prepareCitationByYear(vm.citationByYear, vm.top1, vm.year1), 'paper title');"> citations for year
        <input class="form-control" id="year1" type="number" value="2008" data-ng-model="vm.year1" data-ng-change="vm.beginDraw('main1', vm.prepareCitationByYear(vm.citationByYear, vm.top1, vm.year1), 'paper title');">
    </form>
    <div id="main1" style="width: 1200px;height:400px;"></div>

    <form class="form-inline offset-md-3">
        Top
        <input class="form-control" id="top2" type="number" value="5" data-ng-model="vm.top2" data-ng-change="vm.beginDraw('main2', vm.prepareCitationByConference(vm.citationByConference, vm.top2, vm.selectedConference1), 'paper title');"> citations for conference
        <select-conference data-ng-model="vm.selectedConference1"></select-conference>
    </form>
    <div id="main2" style="width: 1200px;height:400px;"></div>

    <form class="form-inline offset-md-3">
        Top
        <input class="form-control" type="number" value="5" data-ng-model="vm.top3" data-ng-change="vm.beginDraw('main3', vm.prepareCitationByYear(vm.authorsByYear, vm.top3, vm.year2), 'author name');"> authors for year
        <input class="form-control" type="number" value="2008" data-ng-model="vm.year2" data-ng-change="vm.beginDraw('main3', vm.prepareCitationByYear(vm.authorsByYear, vm.top3, vm.year2), 'author name');">
    </form>
    <div id="main3" style="width: 1200px;height:400px;"></div>

    <form class="form-inline offset-md-3">
        Top
        <input class="form-control" type="number" value="5" data-ng-model="vm.top4" data-ng-change="vm.beginDraw('main4', vm.prepareCitationByConference(vm.authorsByConference, vm.top4, vm.selectedConference2), 'author name');"> authors for conference
        <select-conference data-ng-model="vm.selectedConference2"></select-conference>
    </form>
    <div id="main4" style="width: 1200px;height:400px;"></div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/echarts/dist/echarts.min.js"></script>
    <script src="node_modules/linqjs/dist/linq.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        (function () {
            angular
                .module('app', [

                ])
                .service('echartsDraw', [function () {
                    this.draw = function (id, data, seriesName, type) {
                        if (!type) {
                            type = 'bar';
                        }
                        var myChart = echarts.init(document.getElementById(id));

                        var option = {
                            title: {
                                text: ''
                            },
                            tooltip: {},
                            legend: {
                                data: []
                            },
                            xAxis: {
                                type: 'value'
                            },
                            yAxis: {
                                type: 'category',
                                position: 'left',
                                inverse: true,
                                axisTick: {
                                    inside: true
                                },
                                scale: true,
                                data: data.select(function (x) { return x.paper; })
                            },
                            grid: {
                                left: 550
                            },
                            series: [{
                                name: seriesName,
                                type: type,
                                // itemStyle: { color: '#2f4554' },
                                data: data.select(function (x) { return x.count; })
                            }]
                        };

                        myChart.setOption(option);
                    }
                }])
                .controller('mainController', ['$http', 'echartsDraw', '$scope', function ($http, echartsDraw, $scope) {
                    var vm = this;
                    vm.citationByYear; vm.citationByConference; vm.authorsByYear; vm.authorsByConference;
                    vm.year1 = 2009;
                    vm.year2 = 2009;
                    vm.selectedConference1 = 'A';
                    vm.selectedConference2 = 'A';
                    vm.top1 = 8; vm.top2 = 8; vm.top3 = 8; vm.top4 = 8;
                    vm.yearResult = []
                    vm.conferenceResult = [];
                    jQuery.get('citationByYear(0.8).json', function (data) {
                        vm.citationByYear = data;
                        echartsDraw.draw('main1', vm.prepareCitationByYear(vm.citationByYear, vm.top1, vm.year1), 'paper title');

                        jQuery.get('citationByConference(0.8).json', function (data) {
                            vm.citationByConference = data;
                            var data = vm.prepareCitationByConference(vm.citationByConference, vm.top2, vm.selectedConference1);
                            echartsDraw.draw('main2', data, 'paper title');

                            jQuery.get('authorsByYear(0.8).json', function (data) {
                                vm.authorsByYear = data;
                                var data = vm.prepareCitationByYear(vm.authorsByYear, vm.top3, vm.year2);
                                echartsDraw.draw('main3', data, 'author name');

                                jQuery.get('authorByConference(0.8).json', function (data) {
                                    vm.authorsByConference = data;
                                    var data = vm.prepareCitationByConference(vm.authorsByConference, vm.top4, vm.selectedConference2);
                                    echartsDraw.draw('main4', data, 'author name');
                                });
                            });
                        });
                    });

                    $scope.$watch(function () {
                        return vm.selectedConference1;
                    }, function (newValue) {
                        var data = vm.prepareCitationByConference(vm.citationByConference, vm.top2, vm.selectedConference1);
                        vm.beginDraw('main2', data);
                    })

                    $scope.$watch(function () {
                        return vm.selectedConference2;
                    }, function (newValue) {
                        var data = vm.prepareCitationByConference(vm.authorsByConference, vm.top4, vm.selectedConference2);
                        vm.beginDraw('main4', data);
                    })

                    vm.beginDraw = function (main, data, seriesName) {
                        echartsDraw.draw(main, data, seriesName);
                    }

                    vm.prepareCitationByYear = function (data, top, year) {
                        var result = []
                        for (var key in data) {
                            if (!data.hasOwnProperty(key)) continue;
                            var obj = data[key];
                            for (var prop in obj) {
                                if (!obj.hasOwnProperty(prop)) continue;
                                if (parseInt(prop) == year) {
                                    result.push({
                                        paper: key,
                                        count: obj[prop]
                                    });
                                }
                            }
                        }
                        result.sort(compare);
                        result = result.slice(0, top);
                        return result;
                    }

                    vm.prepareCitationByConference = function (data, top, conference) {
                        var result = [];
                        for (var key in data) {
                            if (!data.hasOwnProperty(key)) continue;
                            var obj = data[key];
                            for (var prop in obj) {
                                if (!obj.hasOwnProperty(prop)) continue;
                                if (prop == conference) {
                                    result.push({
                                        paper: key,
                                        count: obj[prop]
                                    });
                                }
                            }
                        }
                        result.sort(compare);
                        result = result.slice(0, top);
                        return result;
                    }

                    function compare(a, b) {
                        if (a.count < b.count)
                            return 1;
                        if (a.count > b.count)
                            return -1;
                        return 0;
                    }
                }])
                ;



        })();

        (function () {
            'use strict';

            angular
                .module('app')
                .component('selectConference', selectConference());


            function selectConference() {

                function selectConferenceController() {
                    var vm = this;

                }

                return {
                    template: '<select class="form-control" id="conference" ng-model="vm.ngModel">        <option value="A">A</option>        <option value="D">D</option>        <option value="E">E</option>        <option value="J">J</option>        <option value="K">K</option>        <option value="N">N</option>        <option value="P">P</option>        <option value="Q">Q</option>        <option value="S">S</option>        <option value="W">W</option>    </select>',
                    bindings: {
                        ngModel: "=",
                    },
                    controller: selectConferenceController,
                    controllerAs: 'vm'
                }
            }

        }());
    </script>
</body>

</html>